{% extends "songs/create_song.html" %}
{% block buttons %}
    {% from "forms/macros.html" import render_field %}
    {{ render_field(form.rating, class="input rating") }}
    <div style="margin: 20px; font-weight: bold; text-align: center; width: 100%">{{ last_user_msg }}</div>
    <div id="note-viewer">
        <table id="comments">
        {% for comment in other_comments %}
            <tr><td class="comment-name">{{ comment.user.name }} said:</td><td>{{ comment.note }}</td></tr>
        {% endfor %}
        <tr><td class="comment-name">{{ user.name }} said:</td><td>{{ form.note(class="input textarea comment-content") }}</td></tr>
        </table>

    </div>
    {{ form.song_id() }}
    {{ form.edit_button(class="button green", value="Save") }}
    {{ form.delete_button(class="button red", value="Delete Song") }}
{% endblock %}