{% if songs|length > 0 %}
    {% for song, rating in songs %}
        <tr class="songlist_row" data-id="{{ song.id }}">
            <td>
                <div class="player-controls"></div>
                <div class="download-controls"></div>
            </td>
            <td>{{ song.title }}</td>
            <td>{{ song.artist.name }}</td>
            <td>{{ song.dance.name }}</td>
        {% if request.endpoint == "SongsView:search" %}
            <td>{% for label in song.labels|sort(attribute="name", case_sensitive=True)%}<span style="background-color: {{ label.color }}" class="tag-span">{{ label.name }}</span>{% endfor %}</td>
        {% endif %}
            <td><div class="rating" data-value="{{ rating }}"></div></td>
        {% if request.endpoint == "SongsView:search" %}
            <td>{{ "%02.d" |format(song.duration.seconds / 60) }}:{{ "%02d" | format(song.duration.seconds % 60) }}</td>
        {% endif %}
            <td>{{ "%d" |format(song.bpm) }}</td>
        </tr>
    {% endfor %}
{% endif %}
