{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}
    <form method="POST" enctype="multipart/form-data" action="." class="form">
        {{ form.csrf_token }}
        {% block form_content %}
        {% endblock %}
        <input type="hidden" value="{{ next or '' }}" name="next">
        <input type="button"
               onclick="window.location='{{ next or url_for("songs.home") }}';"
               value="Abort" class="button red">
    </form>

    <script type="application/javascript">
        $(document).ready(function() {
            add_audio_binding("{{ url_for("songs.serve_song") }}");
        });
    </script>
{% endblock %}