{% extends "base.html" %}
{% block content_id %}content-songlist{% endblock %}
{% block content %}
    <script type="application/javascript">
        var currentPage = 0;
        var loading = false;

        function make_search_query(query, page) {
            if(loading) {
                return;
            }
            if(typeof page === "undefined") {
                $("#song-list").find("tbody").html("");
                make_search_query(query, 0);
            } else {
                loading = true;
                $.get("{{ url_for("songs.search") }}", {query: query, page: page}, function (data) {
                    if (data.length != 0) {
                        $("#song-list").find("tbody").append(data);
                        addBindings();
                        currentPage += 1;
                        loading = false;
                    }
                });
            }
        }

        $(document).ready(function() {
            make_search_query("{{ query }}");

            $("#search_form").on("click", "input[type=reset]", function() {
               window.location = "{{ url_for("songs.home") }}";
            });
        });
    
        $("#content-wrapper").scroll(function(e) {
            var elem = $(e.currentTarget);
            if(elem[0].scrollHeight - elem.scrollTop() < elem.outerHeight() + 100) {
                make_search_query("{{ query }}", currentPage);
                // ajax call get data from server and append to the div
            }
        })
    </script>

    <form class="form" id="search_form">
        <table>
            <tbody>
            <tr>
                <td>
                    <input title="" type="text" id="query" name="query" class="input text completion completion-all" value="{{ query }}">
                </td>
                <td width="200px">
                    <input type="submit" value="Search" class="button">
                </td>
                <td width="200px">
                    <input type="reset" value="Clear" class="button">
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <div id="control-view">
        <a href="{{ url_for('songs.create_song') }}">Add Song</a>
        <a href="{{ url_for('songs.delete_artist') }}">Delete Artist</a>
        <a href="{{ url_for('songs.delete_dance') }}">Delete Dance</a>
    </div>

    <table id="song-list">
        <thead>
            <tr>
                <td>Song Title</td>
                <td>Artist Name</td>
                <td>Dance Name</td>
                <td>Rating</td>
                <td>Playlists</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}