{% extends "base.html" %}
{% block content_id %}content-songlist{% endblock %}
{% block content %}
    <script type="application/javascript">
        function add_reset_binding() {
            $("#search_form").on("click", "input[type=reset]", function () {
                window.location = "{{ url_for("songs.home") }}";
            });
        }

        function add_edit_binding(edit_url) {
            $("#content-songlist").on("click", ".songlist_row", function () {
                var song_id = $(this).attr("data-id");
                window.location = edit_url + "?song_id=" + song_id;
            });
        }
        
        $(document).ready(function() {
            make_search_query("{{ url_for("songs.search") }}", "{{ query }}");
            add_reset_binding();
            add_audio_binding("{{ url_for("songs.serve_song") }}");
            add_endless_scroll_binding("{{ url_for("songs.search") }}", "{{ query }}");
            add_edit_binding("{{ url_for("songs.edit_song") }}");
            add_download_binding("{{ url_for("songs.download_song") }}");
        });
    </script>

    <form class="form" id="search_form">
        <table>
            <tbody>
            <tr>
                <td>
                    <input title="" type="text" id="query" name="query" class="input text completion completion-all" value="{{ query }}">
                </td>
                <td width="200px">
                    <input type="submit" value="Search" class="button">
                </td>
                <td width="200px">
                    <input type="reset" value="Clear" class="button">
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <div id="control-view">
        <a href="{{ url_for('songs.create_song') }}">Add Song</a>
        <a href="{{ url_for('songs.delete_artist') }}">Delete Artist</a>
        <a href="{{ url_for('songs.delete_dance') }}">Delete Dance</a>
        <a href="{{ url_for('songs.reset_download_id') }}">Reset Download Counter ({{ download_id }})</a>
    </div>

    <table id="song-list">
        <thead>
            <tr>
                <td width="50px"></td>
                <td>Song Title</td>
                <td>Artist Name</td>
                <td>Dance Name</td>
                <td width="200px">Tags</td>
                <td width="120px">Rating</td>
                <td width="70px">Duration</td>
                <td width="50px">BPM</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}