{% extends "base.html" %}
{% block content_id %}content-songlist{% endblock %}
{% block content %}
    <script type="application/javascript">
        function make_search_query(query, page) {
            if(typeof page === "undefined") {
                $("#song-list").find("tbody").html("");
                make_search_query(query, 0);
            } else {
                $.get("{{ url_for("songs.search") }}", {query: query, page: page}, function (data) {
                    if (data.length != 0) {
                        $("#song-list").find("tbody").append(data);
                        make_search_query(query, page + 1);
                    }
                });
            }
        }

        $(document).ready(function() {
            make_search_query("{{ query }}");

            $("#search_form").on("click", "input[type=reset]", function() {
               window.location = "{{ url_for("songs.home") }}";
            });
        });
    </script>

    <form class="form" id="search_form">
        <table>
            <tbody>
            <tr>
                <td>
                    <input title="" type="text" id="query" name="query" class="input text completion completion-all" value="{{ query }}">
                </td>
                <td width="200px">
                    <input type="submit" value="Search" class="button">
                </td>
                <td width="200px">
                    <input type="reset" value="Clear" class="button">
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <div id="control-view">
        <a href="{{ url_for('songs.create_song') }}">Add Song</a>
        <a href="{{ url_for('songs.delete_artist') }}">Delete Artist</a>
        <a href="{{ url_for('songs.delete_dance') }}">Delete Dance</a>
    </div>

    <table id="song-list">
        <thead>
            <tr>
                <td>Song Title</td>
                <td>Artist Name</td>
                <td>Dance Name</td>
                <td>Rating</td>
                <td>Playlists</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}