{% extends "base.html" %}
{% block content %}
    <form method="POST" action="." class="form">
        {{ form.csrf_token }}
        {{ form.query(class="input text") }}
        <input type="submit" value="Search">
    </form>

    <table id="song-list">
        <thead>
            <tr>
                <td>Song Title</td>
                <td>Artist Name</td>
                <td>Dance Name</td>
                <td colspan="2" width="10%">Rating</td>
                <td width="10%">Playlists</td>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr onclick="window.location='{{ url_for('songs.edit_song', song_id=song.id) }}'">
                    <td>{{ song.title }}</td>
                    <td>{{ song.artist.name }}</td>
                    <td>{{ song.dance.name }}</td>
                    <td width="5%">{{ song.get_rating() }}</td>
                    <td width="5%">({{ song.get_user_rating_as_string(user) }})</td>
                    <td>{{ song.get_number_of_playlists() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('songs.delete_artist') }}">Delete Artist</a>
    <a href="{{ url_for('songs.delete_dance') }}">Delete Dance</a>
    <a href="{{ url_for('songs.create_song') }}">Add Song</a>
    <a href="{{ url_for('users.logout') }}">Logout</a>
{% endblock %}