{% extends "base.html" %}
{% block content %}
    <table>
        <thead>
            <tr>
                <td>Song Title</td>
                <td>Artist Name</td>
                <td>Dance Name</td>
                <td>Rating</td>
                <td>My Rating</td>
                <td>Number of Playlists</td>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr onclick="window.location='{{ url_for('songs.edit_song', song_id=song.id) }}'">
                    <td>{{ song.title }}</td>
                    <td>{{ song.artist.name }}</td>
                    <td>{{ song.dance.name }}</td>
                    <td>{{ song.get_rating() }}</td>
                    <td>{{ song.get_user_rating(user) }}</td>
                    <td>{{ song.get_number_of_playlists() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('songs.delete_artist') }}">Delete Artist</a>
    <a href="{{ url_for('songs.delete_dance') }}">Delete Dance</a>
    <a href="{{ url_for('songs.create_song') }}">Add Song</a>
    <a href="{{ url_for('users.logout') }}">Logout</a>
{% endblock %}