{% if songs|length > 0 %}
    {% for song, rating, user_rating in songs %}
        <tr class="songlist_row" data-id="{{ song.id }}">
            <td>
                <div class="player-controls" data-path="{{ song.path }}"></div>
                <div class="download-controls" data-path="{{ song.path }}"></div>
            </td>
            <td>{{ song.title }}</td>
            <td>{{ song.artist.name }}</td>
            <td>{{ song.dance.name }}</td>
            <td><div class="rating" data-value="{{ rating }}"></div></td>
            <td><div class="rating" data-value="{{ user_rating }}"></div></td>
        </tr>
    {% endfor %}
{% endif %}
