{% if songs|length > 0 %}
    {% for song, rating, user_rating in songs %}
        <tr onclick="window.location='{{ url_for('songs.edit_song', song_id=song.id) }}'">
            <td width="30%">{{ song.title }}</td>
            <td width="30%">{{ song.artist.name }}</td>
            <td width="25%">{{ song.dance.name }}</td>
            <td width="5%">{{ rating }}</td>
            <td width="5%">({{ user_rating }})</td>
            <td width="5%">{{ song.get_number_of_playlists() }}</td>
        </tr>
    {% endfor %}
{% endif %}
