#content-songlist {
    width: auto;
}

#song-list {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-collapse: collapse;
}

#song-list td {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1pt solid darkgray;
}

#song-list tbody tr:hover td {
    background-color: darkgray;
    cursor: pointer;
}

#song-list thead td {
    padding: 10px 0;
    background-color: lightgray;
    border: 1pt solid darkgray;
}

#content-songlist form table {
    width: 100%;
}


#content-songlist form table td {
    padding: 0;
}

#content-songlist .input {
    width: 100%;
}

#content-songlist .button {
    width: 200px;
    margin: 0;
}

#control-view {
    display: table;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    padding: 10px 0;
}

#control-view a {
    display: table-cell;
}